body{
    font-family: 'Assistant', sans-serif;
    height: 100vh;
    background-image: url(css/backgroundpc.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.modif{
    width: 30%;
    color: #ffffff;
    text-shadow: 0 0 10px black;
}

.view{
    background-color: #ffffffef;
    width: 40%;
    padding: 3%;
    color: rgb(0, 0, 0);
}

p{
    font-size: 2.1em;
    margin-top: -40px
}

a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

form#experience-form button.button{
    padding: 5px 10px;
}
form#formation-form button.button{
    padding: 5px 10px;
}
form#competence-form button.button{
    padding: 5px 10px;
}
form#interet-form button.button{
    padding: 5px 10px;
}
form#langue-form button.button{
    padding: 5px 10px;
}


.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: rgba(0, 0, 0, 0.199);
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 4;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }

  h2 {
    cursor: pointer;
    transition: transform 0.2s;
}

h2:hover {
    transform: scale(1.1);
}

h1{
    font-size: 4em;
}
input[type="submit"] {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: none;
    background-color: transparent;
    text-shadow: 0 0 6px black;
}

.login-box {
    margin-top: 65%;
    margin-left: 30%;
    margin-bottom: -70%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
  
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 10px;
    color: #ffffff;
    font-size: 12px;
}

  